---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Gaither Hack Club</title>
  </head>
  <body>
    <h1>Gaither Hack Club</h1>
    <p>Gaither Hack Club is a student-led coding club at Gaither High School</p>
  </body>
</html>
